body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-align: center;
}
.container{
  width:100%;
}
.navbar-right {
  background-color: white;
}

#header {
  background-color: #000;
  background-size:cover;
  width: 100%;
  display:table;
  position: relative;
  box-sizing: border-box;
}
#textOne {
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  text-align: center;
  display: block;
  font-size: 4.5em;
  font-weight: 700;
}
#subTextOne {
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  text-align: center;
  display: block;
  font-size: 24px;
  font-weight: 400;
}
#info {
  font-size: 21px !important;
  font-weight: 400;
  width:50%;
}
#second {
  background-color: white;
  background-size: cover;
  width: 100%;
}
#aboutHead {
  color:white;
}
#aboutProjects {
  font-size: 21px !important;
  font-weight: 400;
  color:white;
  width:50%;
}
#third {
  background-color: black;
/*  color:white;*/
  background-size: cover;
  width: 100%;
}
#fourth {
  background-color: white;
  color: #333;
  background-size: cover;
  width: 100%;
}